@import url(https://fonts.googleapis.com/css?family=Merriweather);

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background: #f1f1f1;
    font-family: "Merriweather", sans-serif;
    padding: 1em;
}

.notification {
    text-align: center;
    color: #a8a8a8;
    text-shadow: 1px 1px 0 white;
    margin-bottom: 60px;
}

.app {
    max-width: 600px;
    margin: 0 auto;
}

.form__title {
    font-size: 20px;
    text-shadow: 1px 1px 0 white;
    text-align: center;
}

.button {
    border: 0;
    color: white;
    background: #e74c3c;
    cursor: pointer;
    display: block;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    font-size: 15px;
    text-decoration: none;
    max-width: 60%;
    min-width: 40%;
    margin: 10px auto;
}

input {
    display: block;
    border: 0;
    outline: 0;
    padding: 1em;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: "Merriweather", sans-serif;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    resize: none;
}

@media (max-width: 400px) {
    .button {
        max-width: 100%;
    }
}

.view {
    display: none;
}

.pure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.lds-dual-ring {
    display: block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #e74c3c transparent #e74c3c transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}


@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
